<a href="https://colab.research.google.com/github/GeraldChristianBalindan/CPEN65-2/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#Accessing the elements in an Array

animals = ["cat","dog","cow"]
x = animals[0]
y = animals[1]
z = animals[2]
print("Array[0] =",x)
print("Array[1] =",y)
print("Array[2] =",z)

Array[0] = cat
Array[1] = dog
Array[2] = cow

In [9]:
#modifying the elements in the Array
animals = ["cat","dog","cow"]
animals[0] = "monkey"
x = animals[0]
print("Array[0] = ",x)
print(animals)

Array[0] =  monkey
['monkey', 'dog', 'cow']

In [19]:
#Length of the Array
animals = ["monkey", "dog", "fish", "cat", "birds"]
x = len(animals)
print(x)

5

In [10]:
#Looping Array Elements
animals = ["monkey","cat","dog","fish", "cow"]
for x in animals:
  print(x)

monkey
cat
dog
fish
cow

In [11]:
animals = ["monkey","cat","dog","fish", "cow"]
for index , val in enumerate(animals):
  print(index,val)

0 monkey
1 cat
2 dog
3 fish
4 cow

In [15]:
#adding elements in the array
animals = ["monkey","cat","dog","fish", "cow"]
animals.append("Shark")
print(animals)

['monkey', 'cat', 'dog', 'fish', 'cow', 'Shark']

In [16]:
#create a python program to insert a new item ('11') before the second element in an existing array,
#original array: numbers = [1,2,3,4,5,6,7,8,9,10,]
numbers = [1,2,3,4,5,6,7,8,9,10,]
numbers.insert(1,12)
print(numbers)

[1, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
#removing elements in an array
animals = ["cheetah","catfish","Whale","Rhino", "Yak"]
animals.pop(2)
print(animals)

['cheetah', 'catfish', 'Rhino', 'Yak']